@import './src/Component/MoneyItem/money-item.css';
@import './src/Component/Spinner/spinner.css';
@import './src/Component/Modal/modal.css';

.notifications {
    position: fixed;
    top: 12px;
    right: 24px;
    z-index: 10;
}

.notification {
    border-radius: 4px;
    border: 1px solid black;
    width: 120px;
    padding: 8px;
    background: beige;
}

.notification-error {
    background: red;
}
.notification-warning {
    background: yellow;
}
.notification-success {
    background: green;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right, rgb(185, 43, 39), rgb(21, 101, 192));
}

.items-container {
    margin-top: 16px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 24px;
    width: 500px;
    min-height: 800px;
}