@import './src/Component/MoneyItem/money-item.css';

.modal {
    background-color: white;
    border: 1px solid brown;
    padding: 24px 48px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modal-backdrop {
    position: fixed;
    opacity: .5;
    background-color: black;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.notifications {
    position: fixed;
    top: 12px;
    right: 24px;
    z-index: 10;
}

.notification {
    border-radius: 4px;
    border: 1px solid black;
    width: 120px;
    padding: 8px;
    background: beige;
}

.notification-error {
    background: red;
}
.notification-warning {
    background: yellow;
}
.notification-success {
    background: green;
}

.items-container {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: max-content;
}